<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content="{{ generator }}" />
    <title>Mutational Signatures</title>
    <script src="https://cdn.plot.ly/plotly-1.58.4.min.js"></script>
    <script>
      {% include "plot.js" %}
    </script>
    <script id="payload" type="application/json">
      {{ payload }}
    </script>
    <style>
      body {
        display: grid;
        font-family: Arial, Helvetica, sans-serif;
        grid-template-areas:
          "header"
          "content"
          "footer";
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        margin: 0;
      }

      header {
        background: #efefef;
        display: flex;
        flex-shrink: 0;
        grid-area: header;
        padding: 0.5em 1em;
        justify-content: space-between;
      }

      header h1 {
        font-size: 22px;
        font-weight: 300;
        margin: 0;
        vertical-align: middle;
      }

      #controls {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      #controls strong {
        padding-right: 0.25em;
        vertical-align: middle;
      }

      #chart {
        grid-area: content;
        padding: 1em 1em 0;
      }

      footer {
        display: flex;
        flex-shrink: 0;
        font-size: 0.75em;
        grid-area: footer;
        justify-content: center;
      }

      footer ul {
        padding: 0;
      }

      footer li {
        display: inline-block;
      }

      footer li:before {
        color: #999;
        content: "\2022";
        margin: 0 0.5em 0 0.25em;
      }

      footer li:first-child:before {
        content: "";
      }

      footer li a {
        color: #999;
        text-decoration: none;
      }

      footer li a:hover {
        text-decoration: underline;
      }

      .subplot.xy g.ytick, .subplot.x2y2 g.y2tick {
        cursor: pointer;
        pointer-events: all;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Mutational Signatures</h1>

      <div id="controls">
        <label>
          <strong>Reference</strong>
          <select id="plot"></select>
        </label>
      </div>
    </header>

    <div id="chart"></div>

    <footer>
      <ul>
        <li><a href="https://www.stjude.org/">St. Jude Children's Research Hospital</a></li>
        <li><a href="https://cancer.sanger.ac.uk/cosmic/signatures/">Wellcome Sanger Institute COSMIC Mutational Signatures</a></li>
      </ul>
    </footer>
  </body>
</html>
