<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content="{{generator}}" />
    <title>Mutational Signatures</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script>
      const COLORS = [
        "#f44336", "#00bcd4", "#9c27b0", "#8bc34a", "#3f51b5", "#ffeb3b",
        "#ffc107", "#03a9f4", "#e91e63", "#009688", "#4caf50", "#673ab7",
        "#cddc39", "#ff9800", "#ff5722", "#795548", "#2196f3", "#9e9e9e",
        "#607d8b", "#ef9a9a", "#90caf9", "#a5d6a7", "#c62828", "#1565c0",
        "#2e7d32", "#ef6c00", "#b0bec5", "#37474f", "#ffcc80", "#4e342e",
      ];

      const state = {
        name: "Totals by signatures",
        stacking: "normal",
        data: {},
      };

      const addEventListeners = () => {
        document.getElementById("plot").addEventListener("change", (event) => {
          state.name = event.target.value;
          render();
        });

        document.querySelectorAll("#units input").forEach((input) => {
          input.addEventListener("change", (event) => {
            state.stacking = event.target.value;
            render();
          });
        });
      };

      const loadData = () => {
        const payload = document.getElementById("payload").innerText;
        state.data = JSON.parse(payload).data;
      };

      const render = () => {
        const { name } = state;

        if (name === "Totals by signatures") {
          renderTotalsBySignaturesChart(name);
        } else if (name === "Totals by disease") {
          renderTotalsByDiseaseChart(name);
        } else {
          renderDiseaseChart(name);
        }
      };

      const buildTotalsByDisease = (samples) => (
        samples.reduce((groups, sample) => {
          if (!groups[sample.disease]) {
            groups[sample.disease] = [...sample.contributions];
          } else {
            for (let i = 0; i < sample.contributions.length; i++) {
              groups[sample.disease][i] += sample.contributions[i];
            }
          }

          return groups;
        }, {})
      );

      const renderTotalsBySignaturesChart = (title) => {
        const totalsByDisease = buildTotalsByDisease(state.data.samples);

        const categories = state.data.headers;
        const series = Object.keys(totalsByDisease).map((disease) => ({
          name: disease,
          data: totalsByDisease[disease],
        }));

        renderChart(title, categories, series);
      };

      const renderTotalsByDiseaseChart = (title) => {
        const totalsByDisease = buildTotalsByDisease(state.data.samples);

        const totalsBySignature = state.data.headers.reduce((groups, signature, i) => {
          groups[signature] = [];

          for (const contributions of Object.values(totalsByDisease)) {
            groups[signature].push(contributions[i]);
          }

          return groups;
        }, {});

        const categories = Object.keys(totalsByDisease);
        const series = Object.keys(totalsBySignature).map((signature) => ({
          name: signature,
          data: totalsBySignature[signature],
        }));

        renderChart(title, categories, series);
      };

      const renderDiseaseChart = (disease) => {
        const samples = state.data.samples.filter((s) => s.disease === disease);

        const categories = samples.map((s) => s.id);
        const series = state.data.headers.map((header, i) => ({
          name: header,
          data: samples.map((s) => s.contributions[i]),
        }));

        renderChart(disease, categories, series);
      };

      const renderChart = (title, categories, series) => {
        const { stacking } = state;

        const yAxisTitlePrefix = (stacking === "normal") ? "Absolute" : "Percent";

        const yAxis = {
          max: stacking === "percent" ? 100 : undefined,
          title: {
            text: `${yAxisTitlePrefix} contribution (no. mutations)`,
          }
        };

        Highcharts.chart("chart", {
          chart: { type: "bar" },
          title: { text: title },
          xAxis: { categories },
          yAxis,
          series,
          colors: COLORS,
          plotOptions: {
            series: { stacking }
          },
          credits: false,
        });
      };

      document.addEventListener("DOMContentLoaded", () => {
        loadData();
        addEventListeners();
        render();
      });
    </script>
    <script id="payload" type="application/json">
      {{{payload}}}
    </script>
    <style>
      html, body {
        display: flex;
        flex: 1;
        height: 100%;
        overflow: hidden;
      }

      body {
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
      }

      #header {
        background: #efefef;
        display: flex;
        flex-shrink: 0;
        padding: 0.5em 1em;
        justify-content: space-between;
      }

      #header h1 {
        font-size: 22px;
        font-weight: 300;
        margin: 0;
        vertical-align: middle;
      }

      #controls {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      #controls strong {
        padding-right: 0.25em;
      }

      #controls .plots {
        margin-right: 1em;
      }

      #controls select, #controls input {
        vertical-align: top;
      }

      #controls input {
        margin: 2px 0.25em;
      }

      #etiologies {
        background: #bbdefb;
        flex-shrink: 0;
        font-size: 0.875em;
        overflow-x: scroll;
        padding: 0.5em 1.0em 0.5em 0;
        white-space: nowrap;
      }

      #etiologies dl {
        margin: 0;
      }

      #etiologies dt, #etiologies dl {
        display: inline-block;
      }

      #etiologies dt {
        font-weight: bold;
        margin-left: 1em;
      }

      #chart {
        display: flex;
        flex: 1;
        overflow: hidden;
        padding: 1em 1em 0;
      }

      #footer {
        display: flex;
        flex-shrink: 0;
        font-size: 0.75em;
        justify-content: center;
      }

      #footer ul {
        padding: 0;
      }

      #footer li {
        display: inline-block;
      }

      #footer li:before {
        color: #999;
        content: "\2022";
        margin: 0 0.5em 0 0.25em;
      }

      #footer li:first-child:before {
        content: "";
      }

      #footer li a {
        color: #999;
        text-decoration: none;
      }

      #footer li a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <h1>Mutational Signatures</h1>

      <div id="controls">
        <div class="plots">
          <strong>Plot</strong>
          <select id="plot">
            <option value="Totals by signatures">Totals by signatures</option>
            <option value="Totals by disease">Totals by disease</option>
            <option disabled>───</option>
            {{~#each diseases as |disease|}}
              <option value="{{disease}}">{{disease}}</option>
            {{~/each}}
          </select>
        </div>

        <div id="units">
          <strong>Unit</strong>
          <label for="absolute">Absolute</label>
          <input type="radio" id="absolute" name="unit" value="normal" checked />
          <label for="percent">Percent</label>
          <input type="radio" id="percent" name="unit" value="percent" />
        </div>
      </div>
    </div>

    <div id="etiologies">
      <dl>
        <dt>Signature 1</dt>
        <dl>Clock-like</dl>
        <dt>Signature 2</dt>
        <dl>APOBEC</dl>
        <dt>Signature 3</dt>
        <dl>HR-deficiency</dl>
        <dt>Signature 4</dt>
        <dl>Tobacco</dl>
        <dt>Signature 5</dt>
        <dl>Clock-like</dl>
        <dt>Signature 6</dt>
        <dl>MMR-deficiency</dl>
        <dt>Signature 7</dt>
        <dl>UV</dl>
        <dt>Signature 8</dt>
        <dl>Unknown</dl>
        <dt>Signature 9</dt>
        <dl>POLH</dl>
        <dt>Signature 10</dt>
        <dl>POLE</dl>
        <dt>Signature 11</dt>
        <dl>Temozolomide</dl>
        <dt>Signature 12</dt>
        <dl>Unknown</dl>
        <dt>Signature 13</dt>
        <dl>APOBEC</dl>
        <dt>Signature 14</dt>
        <dl>Unknown</dl>
        <dt>Signature 15</dt>
        <dl>MMR-deficiency</dl>
        <dt>Signature 16</dt>
        <dl>Unknown</dl>
        <dt>Signature 17</dt>
        <dl>Unknown</dl>
        <dt>Signature 18</dt>
        <dl>ROS</dl>
        <dt>Signature 19</dt>
        <dl>Unknown</dl>
        <dt>Signature 20</dt>
        <dl>MMR-deficiency</dl>
        <dt>Signature 21</dt>
        <dl>Unknown</dl>
        <dt>Signature 22</dt>
        <dl>Aristolochic acid</dl>
        <dt>Signature 23</dt>
        <dl>Unknown</dl>
        <dt>Signature 24</dt>
        <dl>Aflatoxin</dl>
        <dt>Signature 25</dt>
        <dl>Unknown</dl>
        <dt>Signature 26</dt>
        <dl>MMR-deficiency</dl>
        <dt>Signature 27</dt>
        <dl>Unknown</dl>
        <dt>Signature 28</dt>
        <dl>Unknown</dl>
        <dt>Signature 29</dt>
        <dl>Tobacco</dl>
        <dt>Signature 30</dt>
        <dl>Unknown</dl>
      </dl>
    </div>

    <div id="chart"></div>

    <div id="footer">
      <ul>
        <li><a href="https://www.stjude.org/">St. Jude Children's Research Hospital</a></li>
        <li><a href="https://cancer.sanger.ac.uk/cosmic/signatures_v2">Wellcome Sanger Institute COSMIC Mutational Signatures v2</a></li>
      </ul>
    </div>
  </body>
</html>
